@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/*================================================
 *  一般・共通設定
 ================================================*/

body {
	font-size:16px;
	font-family: 'Noto Sans JP', sans-serif,"メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","MS PGothic",Helvetica,sans-serif;
	color: #333;
	text-align: justify;
	text-justify: inter-ideograph;
  background-color: #CDE2F2;
  font-size: 18px;
}

a,.linearAnime {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
a.blue_link {
  color: #0645ad;
}
a.underline {
	text-decoration: underline;
}
a:hover {
	opacity: 0.7;
}
a.blue_link:hover {
  color: #f7931e;
}
a.underline:hover {
	opacity: 1;
	text-decoration: none;
}

img,svg {
	vertical-align: bottom;
}

.gravatar {
  border-radius: 50%;
}

/*色*/
.color_main {
	color: #14326e;
}
.color_red {
	color: #bf0000;
}
.color_white {
	color: #fff;
}

/* position */
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
/* sp/pcの切替 */
.sp,.sp_inline {
	display: none;
}
/*文字揃え*/
.ta-l {
	text-align: justify;
	text-justify: inter-ideograph;
}
.ta-r {
	text-align: right;
}
.ta-c {
	text-align: center!important;
}
.pcspText { /*PC：中央揃え・SP左揃え用*/
	text-align: center;
}
/*文字種類*/
.ff_lilita {
  font-family: 'Lilita One', cursive;
	font-weight: 400;
}
/*文字太さ*/
.fontLight {
	font-weight: 300;
}
.fontRegular {
	font-weight: 400;
}
.fontMedium {
	font-weight: 500;
}
.fontSemiBold {
	font-weight: 600;
}
.fontBold {
	font-weight: 700;
}
.fontBlack {
	font-weight: 900;
}


/*幅*/
.wrap {
	width: 950px;
	margin: 0 auto;
}

/*Animate.css用*/
.animated {
	opacity: 0;
}
.animated.move {
	opacity: 1;
}

/*================================================
 *  ヘッダー
 ================================================*/
header {
  background-color: #DDEBF6;
  height: 90px;
}
header .top_box {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .top_box h1 {
  font-size: 38px;
  position: relative;
  z-index: 1000;
}

/*================================================
 *  ナビゲーション
 ================================================*/
/*******ハンバーガー*******/
#menu_btn {
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	z-index: 1000;
  background-color: #1E9BEC;
  border-radius: 50%;
  cursor: pointer;
}
#menu_btn.active {
  background-color: #fff;
}
#menu_btn .hamburger-icon {
	position: relative;
	display: block;
}
#menu_btn .hamburger-icon,
#menu_btn .hamburger-icon:before,
#menu_btn .hamburger-icon:after {
	width: 20px;
	height: 2px;
	-webkit-transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	background-color: #fff;
}
#menu_btn.active .hamburger-icon,
#menu_btn.active .hamburger-icon:before,
#menu_btn.active .hamburger-icon:after {
  background-color: #1E9BEC;
}
#menu_btn .hamburger-icon:before,
#menu_btn .hamburger-icon:after {
	position: absolute;
	top: 5px;
	left: 0;
	content: '';
}
#menu_btn .hamburger-icon:after {
	top: -5px;
}
#menu_btn.active .hamburger-icon {
	background-color: transparent;
}
#menu_btn.active .hamburger-icon:before,
#menu_btn.active .hamburger-icon:after {
	top: 0;
}
#menu_btn.active .hamburger-icon:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#menu_btn.active .hamburger-icon:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*******ドロワー*******/
#drawer {
	display: flex;
  justify-content: center;
  align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 999;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	/* padding: 15vw 15vw; */
  background-color: #1E9BEC;
}
#drawer.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#drawer::-webkit-scrollbar {
	width: 10px;
}
#drawer::-webkit-scrollbar-track,
#drawer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: none;
}
#drawer::-webkit-scrollbar-track {
	background-color: transparent;
	border: none;
}
#drawer::-webkit-scrollbar-thumb {
	background: #999;
}
#drawer ul {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
}
#drawer ul li {
  width: 360px;
	font-size: 40px;
	line-height: 1.5;
}
#drawer ul li a {
	padding: 0.5em 0;
	display: block;
}

/*================================================
 *  コンテンツ
 ================================================*/
.contents {
	padding-top: 60px;
}

/*******箇条書きリスト*******/
.kome_list li,
.disc_list li,
.circle_list li,
.square_list li,
.indent_list li {
	list-style-position:inside;
	padding-left: 1em;
	text-indent: -1em;
}
/*※箇条書き*/
.kome_list > li:before{
	display: inline;
	content: "\203b";
}
/*・箇条書き*/
.disc_list > li:before{
	display: inline;
	content: "\30fb";
}
/*●箇条書き*/
.circle_list > li:before{
	display: inline;
	content: "\25CF";
}
/*■箇条書き*/
.square_list > li:before{
	display: inline;
	content: "\25A0";
}
/*()数字*/
.number_list li{
	padding-left: 2.16em;
	text-indent: -2.66em;
	list-style-type:none;
	list-style-position:inside;
	counter-increment: cnt;
}
.number_list li:before{
	display: inline;
	content: "（" counter(cnt) "）";
}
/*数字.*/
.decimal_list li{
	padding-left: 1em;
	text-indent: -1em;
	list-style-type:none;
	list-style-position:inside;
	counter-increment: dcnt;
}
.decimal_list li:before{
	display: inline;
	content: counter(dcnt) ".";
}

/*******フォーム*******/
label {
  font-weight: bold;
}
.basic_form input[type=text],
.basic_form input[type=email],
.basic_form input[type=password],
.basic_form textarea {
  display: block;
  width: 100%;
  padding: 0.1em 0 0.1em 0.5em;
  margin: 10px 0 20px;
  border: 1px solid #707070;
  border-radius: 1em;
}
.basic_form input[type=submit] {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1996dc;
  background: linear-gradient(80deg, #1d9bec, #1d9bec 355px, #039be5 405px, #00b7ee 455px, #00d0e8 505px, #00e7d8 535px, #7afac4);
  background-size: 655px 2.6em;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0.8em 0;
  border-radius: 3em;;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.basic_form input[type=submit]:hover {
  background-position: 100% 0;
}

/*******フォームメッセージ*******/
.alert {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 20px;
}
.alert_success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert_danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#error_explanation ul {
  color: red;
  margin: 0 0 20px 0;
  line-height: 1.75;
  font-size: 14px;
}

/*================================================
 *  フッター
 ================================================*/
footer {
  background-color: #AACEE8;
  margin-top: 60px;
}
footer .copyright {
  text-align: center;
  font-size: 12px;
  padding: 1em 0;
}

/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {

body {
	font-size: 4vw;
}
img {
	max-width: 100%;
}
.gravatar {
  width: 16vw;
  height: 16vw;
}


/*文字揃え*/
.pcspText { /*PC：中央揃え・SP左揃え用*/
	text-align: justify;
	text-justify: inter-ideograph;
}
/* sp/pcの切替 */
.sp {
	display: block;
}
.sp_inline {
	display: inline;
}
.pc,.sp_none {
	display: none;
}

/*幅*/
.wrap {
	max-width: inherit;
	width: 90vw;
}
.wrap_sp_small {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}
.sp_wid100 {
	width: 100%;
}

/*================================================
 *  ヘッダー
 ================================================*/
header {
  height: 19vw;
}
header .top_box {
  padding: 0;
}
header .top_box h1 {
  font-size: 8vw;
}
/*================================================
 *  ナビゲーション
 ================================================*/
/*******ハンバーガー*******/
#menu_btn {
	width: 10vw;
	height: 10vw;
}
#menu_btn .hamburger-icon,
#menu_btn .hamburger-icon:before,
#menu_btn .hamburger-icon:after {
	width: 4vw;
}
#menu_btn .hamburger-icon:before,
#menu_btn .hamburger-icon:after {
	top: 1.3vw;
}
#menu_btn .hamburger-icon:after {
	top: -1.3vw;
}

/*******ドロワー*******/
#drawer {
  display: block;
}
#drawer ul {
  width: 90vw;
  padding: 19vw 0;
  margin: 0 auto;
}
#drawer ul li {
  width: 100%;
	font-size: 8vw;
}

/*================================================
 *  コンテンツ
 ================================================*/
.contents {
	padding-top: 8vw;
}

/*******フォーム*******/
.basic_form input[type=text],
.basic_form input[type=email],
.basic_form input[type=password],
.basic_form textarea {
  padding: 0.1em 0 0.1em 0.5em;
  margin: 2.5vw 0 5vw;
}

/*******フォームメッセージ*******/
.alert {
  padding: 4vw;
  margin-bottom: 2.5vw;
  font-size: 3.2vw;
  margin: 0 auto 5vw;
}
#error_explanation ul {
  margin: 0 0 5vw 0;
  font-size: 3.2vw;
}


/*================================================
 *  フッター
 ================================================*/
footer {
  margin-top: 15vw;
}
footer .copyright {
  font-size: 2.7vw;
}



}
