/*ここからお気に入り投稿一覧画面▼*/
/*お気に入り投稿一覧エリア*/
section.favorite_post_area {

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }

}
/*ここまでお気に入り投稿一覧画面▲*/





/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {
  /*ここからお気に入り投稿一覧画面▼*/
  /*お気に入り投稿一覧エリア*/
  section.favorite_post_area {

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
      text-align: center;
    }

  }
  /*ここまでお気に入り投稿一覧画面▲*/
}
