/*ここからパスワード再設定用メールを送信画面▼*/
/* アカウント再設定用メール送信エリア*/
section.forgot_password_area {
  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
  }

}
/*ここまでパスワード再設定用メールを送信画面▲*/



/*ここからパスワード再設定画面▼*/
/*パスワード再設定画面エリア*/
section.password_reset_area {
  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
  }

}
/*ここまでパスワード再設定画面▲*/
