/*ここからみんなの投稿一覧画面▼*/
/*全投稿一覧エリア*/
section.posts_index_area {

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }

}
/*ここまでみんなの投稿一覧画面▲*/



/*ここから投稿画面▼*/
/*リザルトエリア*/
section.result_area {
  width: 355px;
  margin: 0 auto 60px;
  text-align: center;

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  form {

    div {
      font-weight: bold;
    }

    span {
      width: 20px;
      height: 20px;
      display: block;
      position: relative;
      margin: 5px auto;

      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
        display: block;
        transform: translateY(-50%)
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

    }

    input[type=submit] {
      margin-top: 20px;
    }

  }

}

/*投稿エリア*/
section.post_area {
  form {
    input[type=submit] {
      width: 355px;
      margin: 15px auto 0 auto;
    }
  }
}
/*ここまで投稿画面▲*/



/*ここから投稿の詳細画面▼*/
/*投稿詳細エリア*/
section.details_area {

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .details_box {
    background-color: #fff;
    border-radius: 1em;
    padding: 40px;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        margin-left: 1.1em;
        font-size: 22px;
        font-weight: bold;
      }

    }

    .theme1 {
      border-bottom: 1px solid #333;
      padding-bottom: 0.3em;
      text-align: center;
    }

    span {
      position: relative;
      width: 20px;
      height: 20px;
      display: block;
      margin: 5px auto;

      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        display: block;
        background-color: #333;
      }

      &::before {
        transform: rotate(45deg)
      }

      &::after {
        transform: rotate(-45deg)
      }

    }

    .theme2 {
      border-bottom: 1px solid #333;
      padding-bottom: 0.3em;
      text-align: center;
    }

    .contents_box {
      margin: 20px 0;
      line-height: 1.75;
    }

    .post_info {
      line-height: 1.75;
      display: flex;
      justify-content: space-between;

      .right_box {
        display: flex;
        align-items: center;

        a[class^="icon"],
        div[class^="icon"] {
          font-size: 150%;

          &:hover {
            opacity: 0.7;
            transition: all 0.1s linear;
          }

        }

        .favorite_form {
          display: flex;
          align-items: center;

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-left: 0.5em;

            .icon-unfavorite {
              color: 	#EFDC4C;
            }

          }

        }

      }

    }

  }

}
/*ここまで投稿の詳細画面▲*/





/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {
  /*ここからみんなの投稿一覧画面▼*/
  /*全投稿一覧エリア*/
  section.posts_index_area {

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
      text-align: center;
    }

  }
  /*ここまでみんなの投稿一覧画面▲*/



  /*ここから投稿画面▼*/
  /*リザルトエリア*/
  section.result_area {
    width: 80vw;
    margin: 0 auto 16vw;

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
    }

    form {

      div {
        font-weight: bold;
      }

      span {
        width: 5vw;
        height: 5vw;
        margin: 2.5vw auto;

      }

      input[type=submit] {
        margin-top: 2.5vw;
      }

    }

  }

  /*投稿エリア*/
  section.post_area {
    form {
      input[type=submit] {
        width: 100%;
        margin: 2.5vw 0 0 0;
      }
    }
  }
  /*ここまで投稿画面▲*/



  /*ここから投稿の詳細画面▼*/
  /*投稿詳細エリア*/
  section.details_area {

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
    }

    .details_box {
      padding: 4vw;

      .title {
        margin-bottom: 2.5vw;

        h3 {
          font-size: 4.8vw;
        }

      }

      span {
        width: 4vw;
        height: 4vw;
        margin: 1.3vw auto;
      }

      .contents_box {
        margin: 2.5vw 0;
      }

    }

  }
  /*ここまで投稿の詳細画面▲*/
}
