/* ログイン画面用CSS */
section.login_area {
  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 80%;

    span {
      margin-left: 0.5em;
    }

  }

  a {
    display: inline-block;
    margin-top: 15px;
    font-size: 80%;
    color: #0645ad;
  }

  a:hover {
    color: #f7931e;
  }

}
