/*ここからログイン前のホーム画面▼*/
/* ホームエリア */
section.main_area {
  padding-top: 25px;

  .not_loged_in {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    > div {

      h2 {
        font-size: 84px;
        position: relative;
        top: 40px;
        z-index: -1;
      }

      p:first-of-type {
        font-size: 50px;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
      }

      .btn_box {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        a {
          display: flex;
          justify-content: center;
          text-align: center;
          background-color: #8FBBE3;
          padding: 0.8em 0;
          width: 200px;
          border-radius: 2.6em;
        }

        a:not(:first-of-type) {
          margin-left: 10px;
        }

      }

    }

  }

}
/*ここからログイン前のホーム画面▲*/



/*ここからログイン後のホーム画面▼*/
/*テーマ入力エリア*/
section.input_theme_area {
  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  form {

    input[type=text] {
      margin-bottom: 0;
    }

    span {
      width: 20px;
      height: 20px;
      display: block;
      position: relative;
      margin: 20px auto;

      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
        display: block;
        transform: translateY(-50%)
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

    }

    div {
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold;
    }

  }

}
/*ここまでログイン後のホーム画面▲*/

/*ここからこのサイトについて画面▼*/
section.about_area {

  h3 {
    font-weight: bold;
    font-size: 29px;
    margin-bottom: 15px;

    &:not(:first-of-type) {
      margin-top: 60px;
    }

  }

  p {
    line-height: 1.75;
  }

}
/*ここまでこのサイトについて画面▲*/





/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {
  /*ここからログイン前のホーム画面▼*/
  /* ホームエリア */
  section.main_area {
    padding-top: 10vw;

    .not_loged_in {

      > div {

        h2 {
          font-size: 13vw;
          top: 6vw;
        }

        p:first-of-type {
          font-size: 8vw;
        }

        p {
          font-size: 4vw;
        }

        .btn_box {
          display: block;
          margin-top: 5vw;

          a {
            padding: 0.8em 0;
            width: 45vw;
            border-radius: 2.6em;
            margin: 0 auto;
          }

          a:not(:first-of-type) {
            margin-top: 2.5vw;
            margin-left: auto;
          }

        }

      }

    }

  }
  /*ここからログイン前のホーム画面▲*/



  /*ここからログイン後のホーム画面▼*/
  /*テーマ入力エリア*/
  section.input_theme_area {
    width: 80vw;

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
    }

    form {

      span {
        width: 5vw;
        height: 5vw;
        margin: 2.5vw auto;
      }

      div {
        margin-bottom: 5vw;
      }

    }

  }
  /*ここまでログイン後のホーム画面▲*/

  /*ここからこのサイトについて画面▼*/
  section.about_area {

    h3 {
      font-size: 6.4vw;
      margin-bottom: 5vw;

      &:not(:first-of-type) {
        margin-top: 11vw;
      }

    }

  }
  /*ここまでこのサイトについて画面▲*/

}
