/*ここからアカウント作成画面▼*/
/* サインアップエリア */
section.sign_up_area {
  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

}
/*ここからアカウント作成画面▲*/



/*ここから登録情報変更画面▼*/
/*登録情報変更エリア*/
section.user_edit_area {

  width: 355px;
  margin: 0 auto;

  h2 {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  form {

    input[type=submit] {
      margin-bottom: 20px;
    }

  }

  .gravatar_edit {
    display: flex;
    align-items: center;

    a {
      margin-left: 1em;
    }

  }

}
/*ここから登録情報変更画面▲*/



/*ここからマイページ画面▼*/
/* ユーザー投稿エリア */
section.user_posts_area {

  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }

}
/*ここからマイページ画面▲*/




/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {
  /*ここからアカウント作成画面▼*/
  /* サインアップエリア */
  section.sign_up_area {
    width: 80vw;

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
    }

  }
  /*ここからアカウント作成画面▲*/



  /*ここから登録情報変更画面▼*/
  /*登録情報変更エリア*/
  section.user_edit_area {

    width: 80vw;

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
    }

    form {

      input[type=submit] {
        margin-bottom: 5vw;
      }

    }

  }
  /*ここから登録情報変更画面▲*/



  /*ここからマイページ画面▼*/
  /* ユーザー投稿エリア */
  section.user_posts_area {

    h2 {
      font-size: 6.4vw;
      margin-bottom: 5vw;
      text-align: center;
    }

  }
  /*ここからマイページ画面▲*/
}
