<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert_danger">
      <%= "#{object.errors.count}個のエラー" %>
    </div>
    <ul class="disc_list">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
