<header id="header">
  <div class="top_box wrap">
    <h1><%= link_to "Idea mixer", root_path, class: "ff_lilita" %></h1>
    <div id="menu_btn">
      <span class="hamburger-icon"></span>
    </div>
  </div>
</header>
