<% provide(:title, "このサイトについて") %>

<section class="about_area wrap">
  <h3>このサイトについて</h3>
  <p>新しいアイデアを発見したいとき、既存の物と既存の物の掛け合わせることで色々なアイデアが浮かんでくると思います。
  皆さんの新しいアイデアを考える作業に、少しでも役立てれば幸いです。</p>

  <h3>使い方</h3>
  <p>Mixerページにて、テーマ1の入力フォームに掛け合わせたいテーマを一つ入力して、「Mix」ボタンを押すとランダムなもう一つのテーマと掛け合わされます。
  掛け合わされた後３分ほど考えてみて、いいアイデアが思いつかなければ、「やり直す」ボタンを押してください。
  もし良いアイデアが思い浮かんだなら、「タイトル」と「アイデアの内容」を記入して「投稿する」ボタンを押して投稿してみましょう。</p>

  <h3>アイコン画像の変更方法</h3>
  <p>当サイトのアイコン画像にはGravatarが使用されています。
  アイコン画像を変更する場合Gravatarにて画像を変更してください。</p>
  <p>Gravatar</p>
  <a href="https://ja.gravatar.com/" class="blue_link" target="_blank" rel="noopener nofollow">https://ja.gravatar.com/</a>
</section>
