<section class="main_area">
  <div>
    <h2 class="ff_lilita color_white">Idea mixer</h2>
    <p>運命的な<br>アイデアとの出会い</p>
    <p>Idea mixerは<br>新しいアイデアを見つける<br>お手伝いをします。</p>
    <div class="btn_box color_white">
      <%= link_to "アカウント作成", '#' %>
      <%= link_to "ログイン", '#' %>
    </div>
  <div>
</section>
