<% provide(:title, "ホーム") %>
<section class="main_area">
  <div>
    <h2>Idea mixer</h2>
    <p>運命的な<br>アイデアとの出会い</p>
    <p>Idea mixerは<br>新しいアイデアを見つける<br>お手伝いをします。</p>
    <div class="btn_box">
      <a href="#">アカウント作成</a>
      <a href="#">ログイン</a>
    </div>
  <div>
</section>
